<launch>

  <node pkg="terrain_analysis" type="terrainAnalysis" name="terrainAnalysis" output="screen" required="true">
    <param name="scanVoxelSize" type="double" value="0.1" />
    <param name="decayTime" type="double" value="2.0" />
    <!-- <param name="decayTime" type="double" value="10.0" /> -->
    <param name="noDecayDis" type="double" value="4.0" />
    <param name="clearingDis" type="double" value="8.0" />
    <param name="useSorting" type="bool" value="false" />
    <!-- 将选取地形体素中高度排序后的第25%的高度作为地面高度阈值，将高于该高度的点划分为障碍物 -->
    <param name="quantileZ" type="double" value="0.25" />
    <!-- <param name="quantileZ" type="double" value="0.45" /> -->
    <param name="considerDrop" type="bool" value="true" />
    <!-- <param name="limitGroundLift" type="bool" value="false" /> --><!--限制地面点云的抬升范围-->
    <param name="limitGroundLift" type="bool" value="false" /> 
    <!-- <param name="maxGroundLift" type="double" value="0.15" /> -->
    <param name="maxGroundLift" type="double" value="0.15" />
    <param name="clearDyObs" type="bool" value="true" />
    <param name="minDyObsDis" type="double" value="0.3" />
    <param name="minDyObsAngle" type="double" value="0" /> <!--障碍物与odom XY平面的俯仰角临界值-->
    <param name="minDyObsRelZ" type="double" value="-0.5" />
    <param name="minDyObsVFOV" type="double" value="-16.0" />
    <param name="maxDyObsVFOV" type="double" value="16.0" />
    <param name="minDyObsPointNum" type="int" value="1" />
    <param name="noDataObstacle" type="bool" value="true" />  <!--无数据区域为障碍物-->
    <param name="noDataBlockSkipNum" type="int" value="0" />
    <!-- <param name="minBlockPointNum" type="int" value="10" /> -->
    <param name="minBlockPointNum" type="int" value="5" />
    <param name="vehicleHeight" type="double" value="0.6" />
    <param name="voxelPointUpdateThre" type="int" value="100" />
    <!--积累到一定数量点后滤除-->
    <!-- <param name="voxelPointUpdateThre" type="int" value="500" /> -->
    <param name="voxelTimeUpdateThre" type="double" value="2.0" />
    <!--积累到一定时间后滤除-->
    <!-- <param name="voxelTimeUpdateThre" type="double" value="10.0" /> -->
    <param name="minRelZ" type="double" value="-2.5" />
    <param name="maxRelZ" type="double" value="1.0" />
    <param name="disRatioZ" type="double" value="0.2" />
    <!-- <param name="disRatioZ" type="double" value="0.1" /> -->
  </node>

</launch>